<div ng-init="vm.start()"> 
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Song</th>
                    <th>Album</th>
                    <th>Artist</th>
                    <th><i class="glyphicon glyphicon-time"></i></th>
                    <th><i class="glyphicon glyphicon-volume-up"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="#"></td>
                    <td id="Song"></td>
                    <td id="Album"></td>
                    <td id="Artist"></td>
                    <td id="time"></td>
                    <td id="listen"></td>
                    <td><button type="button" class="btn btn-default" id="btn-song" ng-click="vm.listen()">Listen</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>